<!DOCTYPE html>
<html>
<head>
  <title>Mp3app</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js" %>  
  
 
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
 <%= javascript_include_tag "application" %>
</html>
